@model IEnumerable<ModelsLibrary.Models.DTO.UserWithRoleDTO>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css" />
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="box-title">
            <b>Manage Users</b>
        </h3>
    </div>
    <!-- /.box-header -->
    <div class="panel-body">
        <table class="table table-hover table-bordered table-condensed" id="UsersWithRoles">
            <thead>
                <tr>
                    <td><b>Username</b></td>
                    <td><b>Email</b></td>
                    <td><b>Roles</b></td>
                </tr>
            </thead>
            @foreach (var user in Model)
            {
                <tr>
                    <td>@user.UserName</td>
                    <td>@user.Email</td>
                    <td>
                        <form asp-action="UpdateRole" asp-route-user="@user.Id">
                            <select onchange="this.form.submit()" name="role">
                                @if (user.Role == "Admin")
                                {
                                    <option selected>Admin</option>
                                    <option>User</option>
                                }
                                else
                                {
                                    <option selected>User</option>
                                    <option>Admin</option>
                                }
                            </select>
                        </form>
                    </td>

                </tr>
            }
        </table>
    </div>

    <div class="panel-footer">
        <p class="box-title"><b>Total Users till @String.Format("{0 : dddd, MMMM d, yyyy}", DateTime.Now)  : </b><span class="label label-primary">@Model.Count()</span></p>
    </div>
</div>


@section scripts{
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
    <script>
    
        $(function () {
            $('#UsersWithRoles').DataTable();
        });
    </script>
}  