@model ModelsLibrary.Models.ViewModels.CreateLabVM
@{
    var labModel = Newtonsoft.Json.JsonConvert.SerializeObject(Model.Lab);
}

<!-- Modal start-->
<div class="modal fade" id="computerModal" tabindex="-1" role="dialog" aria-labelledby="computerModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="titleModalLabel">Create a Computer</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @*asp-controller="Lab" asp-action="CreateComputer" method="post"*@
                <form >
                    <div class="form-group">
                        <label for="computerName">Computer Name</label>
                        <input type="text" id="computerName" name="computerName" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="computerDesc">Computer Description</label>
                        <textarea type="text" id="computerDesc" name="computerDesc" class="form-control"></textarea>
                    </div>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="computerCreationSave">Save</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!--Model end-->


<div class="container">

    <div class="row">
       <div class="col">
            <form asp-action="CreateLab" method="post">
                <div class="form-group">
                    <label for="roomNo">Room No: </label>
                    <input type="number" min="1" class="form-control" name="RoomNo" id="roomNo" placeholder="Room No" />
                </div>
                <div class="form-group">
                    <label for="buildingNo">Building No: </label>
                    <input type="number" min="1" class="form-control" name="BuildingNo" id="buildingNo" placeholder="building No" />
                </div>
                <div class="form-group">
                    <label for="gridType">Choose Grid Type:</label>

                    <select class="form-select" name="gridType" asp-items="Model.items">
                    </select>
                </div>
                <button id="createLabButton" type="submit" class="btn btn-success mt-2">Create Lab</button>
            </form>
       </div>
       <div class="col"></div>

       <div class="col">
            <form asp-action="Create">
               <div class="form-group">
                   <label for="LabId">Choose a lab to edit</label>
                    <select onchange="this.form.submit()" class="form-select" name="LabId" asp-items="Model.Labs">
                        @if (Model.Lab != null)
                        {
                            <option value="@Model.Lab.LabId">Building @Model.Lab.BuildingNo.ToString() Room @Model.Lab.RoomNo.ToString()</option>
                        }else{
                            <option></option>
                        }
                    </select>
               </div>
           </form>
       </div>
    </div>

    <div class="row mt-4">
        <div class="col-4 bg-danger" style="height: 500px">
            <button class="btn btn-success mt-2" data-toggle="modal" data-target="#computerModal">Create Computer</button>
            <div ondrop="drop_unassigned_handler(event)" ondragover="drag_unassigned_handler(event)" id="unassignedcomps" class="mt-2" style="height: 430px;overflow-x: hidden;">
                @foreach(var comp in Model.UnassignedComputers)
                {
                    <div class="m-2 row border bg-white" shouldDelete="true">
                        <div class="col">
                            <img name="@comp.ComputerName" id="@comp.ComputerId" draggable="true" ondragstart="dragStart_handler(event)" src="/images/ComputerIcon.png" alt="computer" style="width:80px;height:80px;" />
                        </div>
                        <div class="col">
                            <p><b>@comp.ComputerName</b></p>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="col-8 bg-info">
            @*<button onclick="allotmentHandler()" class="btn btn-success mt-2">Create allotment space</button>*@
            <div id="gridContainer" class="container">

            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        var lab = @Html.Raw(labModel)
    </script>
    <script src="~/js/CreatePage.js">
       
    </script> 
    
}